body {
  background-image: url("../img/repprint.jpg");
  background-repeat: repeat;
}

header h1 {
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 5rem;
}

header {
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 2rem;
}

.wiped {
	font-family: 'Lora', serif;
	background-color: black;
	color: white;
	padding: 15px;
}

h3 {
	font-family: 'Lora', serif;
}

h2 {
	font-family: 'Bree Serif', serif;
}