body {
  background-image: url("../img/repprint.jpg");
  width: 100%;
  height: 100%;
  background-size: 1000px 500px;
}

header h1 {
	font-family: 'Playfair Display', serif;
	text-align: center;
}

.wiped {
	font-family: 'Lora', serif;
	background-color: black;
	color: white;
	padding: 15px;
}