

header {
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 2rem;
	padding: 3rem;
	background-color: #8a8a8a;
	
	h1 {
		font-family: 'Playfair Display', serif;
		text-align: center;
		font-size: 5rem;
	}

	h3 {
		font-family: 'Playfair Display', serif;
		text-align: center;
		font-size: 2rem;
	}

	h5 {
		font-family: 'Crimson Text', serif;
		text-align: center;
		font-size: 2rem;
	}
}