

header {
	font-family: 'Playfair Display', serif;
	text-align: center;
	font-size: 2rem;
	
	h1 {
		font-family: 'Playfair Display', serif;
		text-align: center;
		font-size: 5rem;
	}

	h3 {
		font-family: 'Playfair Display', serif;
		text-align: center;
		font-size: 2rem;
	}
}